body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  background-color: #d0d0d0;
  background: url("../images/translink-double-decker.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

input[type="text"],
button {
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.icon-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.search-bar button {
  padding: 8px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
}

#content-container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'translink'
    'recentroutes'
    'busroutes'
    'routeinfo'
    'allmaps';
  justify-content: center;
}

#translink {
  margin-top: 20px;
  grid-area: translink;
}

#recentroutes {
  grid-area: recentroutes;
}

#busroutes {
  grid-area: busroutes;
}

#routeinfo {
  grid-area: routeinfo;
}

#allmaps {
  grid-area: allmaps;
}

#content-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 0.5em;
  border: 1px solid black;
}

.landingContent {
  display: block;
  width: 100%;
  /* Make the button take the full width of its container */
  padding: 10px;
  /* Adjust padding as needed */
  background-color: #200e5f;
  /* Light grey background color */
  border: none;
  border-radius: 10px;
  /* Rounded corners */
  cursor: pointer;
  color: white;
}

.landingContent:hover {
  transform: scale(1.1);
  filter: brightness(80%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.landingContent h1 a {
  text-decoration: none;
  /* Remove underline from the anchor */
  color: inherit;
  /* Inherit text color from parent */
  display: block;
}

.landingContent h1 a i {
  margin-right: 5px;
  /* Add a small space between the icon and the text */
}

#menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

#menu li {
  padding: 15px;
  text-align: center;
}

#menu a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background: #ddd;
  color: black;
}

.nav-item:hover {
  transform: scale(1.1);
  filter: brightness(80%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

#alerts {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#translink-alerts {
  width: 100%;
  height: 100%;
  border: none;
}

.containeruser {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgba(216, 216, 216, 0.804);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/* .one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #2c3d9f;
}

.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #2c3d9f;
} */

@media screen and (min-width: 768px) {
  body {
    background-position: center center;
  }
}

.bi {
  margin-right: 5px;
  font-size: 125%;
}

#review-form {
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.7);
}

label {
  color: black;
}

.space {
  background-color: rgba(0, 0, 0, 0.1);
}

#thanks {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(230, 230, 230, 0.7);
}

#banner {

  text-align: center;
  /* color: #ffffff; */
  color: #333;
  /* Dark text for contrast */
  margin-top: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: rgba(219, 219, 219, 0.7);
  /* Semi-transparent white background */
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;

}