body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
.icon-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}
.search-bar input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.search-bar button {
  padding: 8px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}
.burger-menu {
  font-size: 24px;
  cursor: pointer;
}
#menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}
#menu li {
  padding: 15px;
  text-align: center;
}
#menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.hidden {
  display: none;
}

.busroutes {
  display: block;
  margin: .5em;
  font-size: 22px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width:100%;
  height: auto;
  box-sizing: border-box;
}

.busroutes:hover {
  background-color: #6800b3;
}

#buttonContainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}